{
  "plugins": {
    "analytics": {
      "enabled": true,
      "version": "1.0.0",
      "installedAt": "",
      "source": "local"
    },
    "license_authority": {
      "enabled": false,
      "version": "26.7.1",
      "installedAt": "",
      "source": "local"
    },
    "license_client": {
      "enabled": false,
      "version": "26.7.1",
      "installedAt": "",
      "source": "local"
    }
  }
}
